<!DOCTYPE html>
<html>
  <head>
    <title>Meeting Locator - Refuge Recovery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img class="logo" src="goldonblack.png" alt="Refuge Recovery Logo"/>
          <span class="brand-text">Refuge Recovery Meetings</span>
        </a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
